body {
  margin: 50px 0px 10px 0px;
}

.torrents {
  width: 100%;
}

.torrents abbr {
  white-space: nowrap;
}

.navbar .navbar-inner {
  background-image: url('../img/worn_dots/worn_dots.png');
}

.details > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.details > ul > li {
  float: left;
  margin-right: 0.5em;
}

.details > div {
  margin-top: 1em;
}
